
body{
    margin :0;
    padding: 0;
    line-height: 1.5;
    background-image: url("http://localhost:8087/img/movie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgrey;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* @media screen and (min-width: 40em) {
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 6px;
    }
} */

.card {
    background: white;
    margin: 5px 5px 2em 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
    width:900px;
}