#info {
    width: 100%;
    overflow: auto;
}

#info > img {
    margin-right: 10px;
    width: 200px;
    float: left;
    min-width: 150px;
}

#info > #text {
    color: blue;
    font-size: 18px;
    border: 1px solid  rgb(148, 156, 231);
    overflow: auto;
    padding: 6px 6px 0px 6px;
    border-radius: 6px;
}

#info > img, #info > #text {
    height: 240px;
}

#text > b {
    font-weight: bold;
}