@import 'header.css';
@import 'info.css';
@import 'description.css';

* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url("../../img/movie.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container {

    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 6px;
}

#box-detail {
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#button-back {
    margin: 20px 0 20px 0;
}


#button-back a {
    padding: 10px;
    width: fit-content;
    background-color: rgb(148, 156, 231);
    text-decoration: none;
    color: white;
}