.card {
    background: white;
    margin: 5px 5px 2em 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;

}


.card img {
    display: block;
    border: 0;
    width: 100%;
    height: 180px;
}

.card > a {
	color: black;
	text-decoration: none;
}

.card > a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
    padding-right: 10px;
    padding: 1em;
    padding-bottom: 0.2em;
}

.card-content > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.card-content > h2 {
    font-weight: 100;
}

.card-content p {
	font-size: 80%;
}

#read-more{
    color: darkslateblue;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 40em) {
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 6px;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}